body {
    background-image: url("../images/bkgrnd.jpg");
    color: rgb(255, 255, 255) !important;
}

.jumbotron {
    text-align: center;
    padding-top:0px !important;
    padding-bottom: 0px !important;
    background: rgb(123, 123, 123) !important;
}

p {
    font-size: 24px;
    font-weight: bold;
}

button {
    background: rgb(123, 123, 123) !important;
}

.panel {
    text-align: center;
    background: rgb(123, 123, 123) !important;
}

.panel-body {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.panel-title {
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
}

.box {
    margin-left: 16px;
}